<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="{{ url_for('static', filename='startStyle.css') }}">    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Songdle</title>
  </head>
  <body>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
    <div class="logo"> 
      <img src="{{ url_for('static', filename='Songdle.png') }}">
    </div>
    <div class="play">
        <a href="/index">
          <img src="{{ url_for('static', filename='play.png') }}">
        </a>
    </div>
  <a href="/login" class="login">Log-In</a>
  <a href="/leaderboard" class="login" style="margin-top: 15px;">Leaderboard</a>
  </body>
</html>
